:root {
    --color-background:#F3F3F3;
    --color-background-nav:#2d3a3a;
    --color-background-home:#040f0f;
    --color-text-light:#fcfffc;
    --color-text-title:#FF5555;
    --color-text-dark:#3D3D3D;
    --color-green-light:#248232;
    --color-green-pantone:#2ba84a;
  }

  * {
      padding: 0;
      margin: 0;
      box-sizing:border-box;
      font-family: sans-serif;
  }

  html,
  body{
    background-color: var(--color-background);
  }
  .container{
      width: 90%;
  }
  main{
      width: 100%;
      height: calc(100vh - 120px);
      display: flex;
      flex-direction: column;
  }
  a{
      text-decoration: none;
      transition: 0.2s opacity;
  }
  a:hover{
      opacity:0.8;
  }
  ul, li{
      list-style: none;
  }